body {
	background-color:#3F2860;
	color:  #40407A;
	font-family:Verdana,sans-serif;
	margin:auto;
}
header{
	background-color: #80CBC4;
	height: 150px;
	/*width: 100%;*/
	background-image: url("yogaimg/lilyheader.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	
}
main{
	padding-left: 2em;
	padding-right: 2em;
	display: block;
}
h1{ 
	
	background-position: center center;
	padding-top: 50px;
	padding-left: 2em;
	text-align:left;
}
nav{
	padding: 1em;
	text-align: center;
	font-weight: bold;
}
a{
	text-decoration:none;
}

.studio{
	font-style: italic;
}
footer{
	padding: 10px;
	background-color: #80CBC4;
	font-size: small;
	font-style: italic;
	text-align: center;
}

#wrapper{
	min-width: 1000px;
	max-width: 1280px;
	background-color:#F5F5F5;
	margin-bottom: 10%;
	text-align:start;
}
#hero{
	text-align: center;
}
.yogadoor{

	padding-right: 1em;
	padding-left: 1em;
	
}

/*Classes page*/
.yogamat{
	
	padding-right: 1em;
	padding-left: 1em;
}

/*Schedule page*/
.yogalounge{
	
	padding-right: 1em;
	padding-left: 1em;
}